---
---

@import "{{ site.theme }}";

nav h1 {
    font-size: large;
}

nav ul {
    list-style: initial;
    height: initial;
    padding: initial;
    background: initial;
    border-radius: initial;
    border: initial;
    width: initial;
}

nav li {
    width: initial;
    float: initial;
    border-right: initial;
    height: initial;
}

nav li:first-child a {
    border-radius: initial;
}

nav ul a {
    line-height: initial;
    font-size: smaller;
    display: initial;
    text-align: initial;
    padding-top: initial;
    height: initial;
}